.html,
/* Стили по умолчанию для мобильных устройств */
.container {
    width: 100%;
    padding: 10px;
}

/* Стили для планшетов */
@media (min-width: 600px) {
    .container {
        width: 80%;
        padding: 20px;
    }
}

/* Стили для десктопов */
@media (min-width: 1024px) {
    .container {
        width: 60%;
        padding: 30px;
    }
}


.header{
    display: flex;
    flex-direction: column;
    line-height: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 700px;
    background-image: url(https://cdn.cloudflare.steamstatic.com/steam/apps/892970/ss_cd0262c5abf8a90ee5e1059acafc5a92b6be0e73.1920x1080.jpg?t=1715688279);
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
}



.conteiner{
    color: white;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    width: 125px;
    height: 60px;
    border-radius: 25px 25px 25px 0;
    justify-content: center;
    align-items: center ;
    text-shadow: 8px;
    background-color: black;
    border: 2px;
    border-color: aliceblue;
    margin-left: 50px;
    margin-bottom: 40px;
}

.paragraf {
    color: white;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    width: 325px;
    height: 70px;
    border-radius: 25px 25px 25px 0;
    justify-content: center;
    align-items: center ;
    text-shadow: 8px;
    background-color: black;
    margin-left: 50px;
    font-size: 150%;
    margin-top: 5px;
    margin-bottom: 40px;
}

.colum {
    line-height: 100px;
}

.game{
    display: flex;
    justify-content: flex-end;
}

.game_href {
    display: flex;
    text-align: center;
    line-height: 1;
    justify-content: center;
    border-radius: 100px;
    padding: 20px 50px 20px 50px;
    background-color: #fff;
    width: px;
    white-space: nowrap;
    margin-right: 40px;
    margin-top: 250px;

}